@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root {
    --mobile: 375px;
    --desktop:1440px;
    --Dark-cyan: #3C8067;
    --Cream: #F2EBE3;
    --Very-dark-blue: #1C232B;
    --Dark-grayish-blue: #6C7289;
    --White: #FFFFFF;
    --font-size:14px;
    --montserrat-small:500;
    --montserrat-big:700;
    --fraunces:700;
}
*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:14px;
}
@media (max-width:500px) {
    .container {
        flex-direction: column!important;
        max-width: 24rem!important;
        min-width: 80vw!important;
        justify-content: flex-start!important;
    }
    picture {
        flex-basis: 40%!important;
    }
    .info {
        padding: 1.5rem 2rem!important;
        flex-basis: 60%!important;
    }
    .info > * {
        padding: 0.5rem!important;
    }
    .cart {
        padding:1rem 3rem!important;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: var(--Cream);
}
img,picture {
    max-width: 100%;
    display: block;
}
picture {
    flex-basis: 50%;
}
.container {
    min-width: 34rem;
    display: flex;
    background-color: var(--White);
    border-radius: 20px;
    overflow: hidden;
    margin:1rem;
    max-width: 33vw;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding:2rem 1.5rem;
    padding-right: 0.5rem;
    flex-basis: 50%;
}
#category {
    align-self:flex-start;
    font-family: Montserrat;
    font-weight: var(--montserrat-small);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--Dark-grayish-blue);
    font-size: 12px;
}
h1 {
    font-family: Fraunces;
    font-weight: var(--fraunces);
}
p {
    color: var(--Dark-grayish-blue);
    font-family: Montserrat;
    font-weight: var(--montserrat-small);
}
.prices {
    display: flex;
    align-self:flex-start;   
    align-items: center;
    padding-bottom:1rem;
    flex-wrap: wrap;
}
.big-price {
    padding:0 5px;
    color: var(--Dark-cyan);
    font-family: Fraunces;
    font-weight: var(--fraunces);
    font-size: x-large;
}
.small-price {
    margin-left:10px;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
    font-family: Montserrat;
    font-weight: var(--montserrat-small);
}
.cart {
    padding:1rem 3rem;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-family: Montserrat;
    font-weight: var(--montserrat-small);
    border-radius: 7px;
    display: flex;
    align-items: center;
    border: none;
    align-self: stretch;
    justify-content: center;
}
.cart:hover {
    background-color:hsl(158, 53%, 18%);
    cursor:pointer;
}
.svg {
    display: inline;
    padding-right:1rem;
    font-size: 5px;
}